body.login {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
}
body.lista {
    background: #fff;
    background: linear-gradient(to right, #fff, #fff);
}
.error-message {
    font-size: 12px;
    margin: 10px 0 0;
    color: #ef0f0f;
}
