
<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card-body">
                    <h5 class="card-title text-center text-uppercase">Sign In</h5>
                    <form class="form-signin">
                        <div class="form-label-group">
                            <input type="email" v-model="user.email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                        </div>
                        <div class="form-label-group">
                            <input type="password" v-model="user.password" id="inputPassword" class="form-control" placeholder="Password" required>
                        </div>
                        <div class="custom-control custom-checkbox mb-3">
                            Not registered? <router-link to="/sign-up">Create an account.</router-link>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block " type="submit" @click.prevent="login">Sign in</button>
                        <div class="error-message">{{ message }}</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import './loginComponent.css';
import { mapActions } from 'vuex';

export default {
    name: 'Login',
    data() {
        return {
            user: {
                email: "",
                password: ""
            },
            message: ''
        }
    },
    beforeCreate: function() {
        document.body.className = 'login';
    },
    methods: {
        ...mapActions(['saveToken']),
        login() {
            this.$http.post('/users/authenticate', this.user)
                .then((res) => {
                    if (res.data.accessToken) {
                        this.saveToken(res.data.accessToken);
                        this.$router.push('/lista');
                    }
                })
                .catch((error) => {
                    this.user = {};
                    this.message = error && error.response && error.response.data && error.response.data.message;
                });
        }
    }
};
</script>