.container {
    margin-top: 50px;
}
.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}
.custom-control {
    text-align: left;
}
.card-body {
    background-color: #fff;
    border-radius: 10px;
}
