<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card-body">
                    <h5 class="card-title text-center text-uppercase">Sign Up</h5>
                    <form class="form-signin">
                        <div class="form-label-group">
                            <input type="text" v-model="user.firstName" id="inputFirstName" class="form-control" placeholder="First name" required autofocus>
                        </div>
                        <div class="form-label-group">
                            <input type="text" v-model="user.lastName" id="inputLastName" class="form-control" placeholder="Last name" required autofocus>
                        </div>
                        <div class="form-label-group">
                            <input type="email" v-model="user.email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                        </div>
                        <div class="form-label-group">
                            <input type="password" v-model="user.password" id="inputPassword" class="form-control" placeholder="Password" required>
                        </div>
                        <div class="custom-control custom-checkbox mb-3">
                            Do you have an account? <router-link to="/">Sign in.</router-link>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block " type="submit" @click.prevent="save">Sign Up</button>
                        <div class="error-message">{{ message }}</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'SignUp',
    data() {
        return {
            user: {
                firstName: undefined,
                lastName: undefined,
                email: undefined,
                password: undefined
            },
            message: '',
            missingFields: []
        }
    },
    beforeCreate: function() {
        document.body.className = 'login';
    },
    methods: {
        save() {
            Object.keys(this.user).forEach(key => {
                if (this.user[key] === undefined ) {
                    this.missingFields.push(key);
                }
            });
            if(this.missingFields.length > 0) {
                this.message = `Todos os campos são obrigatórios.`;
            } else {
                this.$http.post('/users', this.user)
                    .then(() => {
                        this.$router.push('/');
                    })
                    .catch((error) => {
                        this.user = {};
                        this.message = error && error.response && error.response.data && error.response.data.message;
                    });
            }
        }
    }
}
</script>
