<template>
    <div>
        <nav class="navbar navbar-dark bg-primary">
            <button type="button" class="btn btn-light" @click.prevent="logout">Logout</button>
        </nav>
        <div class="container">
            <table v-if="list.length > 0" class="table table-striped row">
                <thead class="col-12">
                    <tr class="row">
                        <th class="col-4">Id</th>
                        <th class="col-4">Name</th>
                        <th class="col-4">Email</th>
                    </tr>
                </thead>
                <tbody class="col-12">
                    <tr class="row" v-for="item of list" :key="item.id">
                        <td class="col-4">{{ item._id }}</td>
                        <td class="col-4">{{ item.firstName }} {{ item.lastName }}</td>
                        <td class="col-4">{{ item.email }}</td>
                    </tr>
                </tbody>
            </table>
            <h2 v-if="list.length === 0 && !error">No users registered!</h2>
            <h2 v-if="list.length === 0 && error">An error occured, contact the administrator for more details!</h2>
        </div>
    </div>
</template>

<script>
import './listaComponent.css';

export default {
    name: 'Lista',
    data: function() {
        return {
            list: [],
            message: '',
            error: false
        }
    },
    methods: {
        logout() {
            this.$store.commit('logout');
            this.$router.push('/');        
        }
    },
    beforeCreate: function() {
        document.body.className = 'lista';
    },
    created() {
        this.$http.get('/users')
            .then((response) => {
                this.list = response.data;
            })
            .catch((error) => {
                this.error = true;
                this.message = error && error.response && error.response.data && error.response.data.message;
            });
    }
}
</script>
